/* šeit 
rakstam
CSS 
kodu*/

h2 {
    color: rgb(71, 20, 29);
}

input {
    display:none;
}

body {
    background-color: lightblue;
    display: grid;
    align-items: center;
    justify-content: center;
}