body {
    background-color: rgb(110, 220, 20);
    min-height: 100vh;
    /*flex, grid, block, table*/
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Id ar # */
#container {
    background-color: bisque;
    width: 300px;
    text-align: center;
}

/*buttons*/

button {
   color:bisque;
   width: 50px;
   height: 50px;
   border: none;
   margin: 5px;
}

.num {
    background-color: #1c2d47;
}

.ops {
    background-color: cadetblue;
}

#clear {
    background-color: chocolate;
}

#result {
    background-color: cornflowerblue;
}

#decimal {
    background-color: darkgreen;
}