body {
    background-color: rgb(206, 199, 157);
    min-height: 100vh;
    /*flex, grid, block, table*/
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
    margin: 0;
    
}

/* Id ar # */
#container {
    background-color: bisque;
    width: 250px;
    text-align: center;
    border-radius: 10px;
}

/*buttons*/

button {
   color:bisque;
   width: 40px;
   height: 40px;
   border: none;
   margin: 5px;
   cursor: pointer;
   border-radius: 10px;
}

button:hover {
    background-color: goldenrod;
}

.num {
    background-color: #1c2d47;
}

.ops {
    background-color: cadetblue;
}

#clear {
    background-color: chocolate;
}

#result {
    background-color: cornflowerblue;
    width: 200px;
}

#result:hover {
    background-color:darkcyan;
}

#decimal {
    background-color: darkgreen;
}

/*Izveiodjam redzamu displeju*/

#display {
    background-color: black;
    color: whitesmoke;
    height: 80px;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}