/* Fona krāsa */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(238, 196, 196);
}

#container {
    display: flex;
}

#noteikumi {
    float: right;
    height: 100vh;
}

table {
    height: 100vh;
    overflow: hidden;
}

table, tr, th,td {
    text-align: center;
    /*piešķir vērtības tabulas malām*/
    border: 1px solid black;

}